$backgroundColor  : #202d33;
$linkColor        : white;
$linkColorVisited : #ae95b3;

:root {
	// font-size: 14px;

	scroll-behavior: smooth;
}

@media only screen and (max-width: 900px) {
	:root {
		// font-size: 15px;
	}
}

body {
	color           : #c3c3c3;
	background-color: $backgroundColor;

	font-family   : apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
	text-rendering: optimizeLegibility;
	font-size     : 1rem;
}

a {
	color: $linkColor;

	&:visited {
		color: $linkColorVisited;
	}
}

@media only screen and (min-width: 900px) {
	.wide-hiden {
		display: none;
	}
}

@media only screen and (max-width: 900px) {
	.narrow-hiden {
		display: none;
	}
}

.site-title a {
	// color        : blue;
	font-family  : inherit;
	font-weight  : bold;
	font-size    : 2rem;
	border-bottom: 2px solid;

	&:visited {
		color: $linkColor;
	}
}

h2 a {
	color      : inherit;
	text-shadow: none;
}

.color-link {
	color      : inherit;
	font-family: inherit;

	&:visited {
		color: inherit;
	}
}

nav a {
	color: inherit;
}

nav {
	overflow-y: hidden;

	&:not(:first-child) {
		position: initial;
		height  : initial;
		top     : initial;
		left    : initial;
		width   : initial;
		padding : initial;
	}
}

nav {
	display       : flex;
	flex-direction: column;
	overflow      : visible;

	h3 {
		margin-top   : 1.5em;
		margin-bottom: 0.5em;
	}

	h3+* {
		margin: 0;
	}

	ol,
	ul {
		margin      : 0;
		padding-left: 1.5em;
	}

	ol {
		list-style-position: outside;
	}

	ul,
	ol {
		margin-left: -1.5em;

		li {
			margin-top: .25em;

			ol,
			ul {
				margin-left    : unset;
				margin-bottom  : .5em;
				list-style-type: persian;
			}
		}

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	#see-also {
		margin-top: auto;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
}

h2 {
	font-size    : 1.6em;
	border-bottom: solid thin;
}

h3 {
	font-size   : 1.25em;
	padding-left: 0.3em;
	border-left : solid thick;
}

.post-title {
	font-weight: bold;
	font-size  : 1.5em;

	a {
		text-decoration: none;
		box-shadow     : none;
	}

	border : none;
}

.post-preview {
	max-height: 50em;
	overflow  : hidden;
	position  : relative;

	h2 {
		display: none;
	}

	p {
		line-height  : 1.54;
		margin-bottom: .5em;
	}
}

.post-read-more-link {
	position  : absolute;
	bottom    : 0;
	left      : 0;
	width     : 100%;
	height    : 3em;
	background: linear-gradient(to top, $backgroundColor 0, transparent 100%);
}

.article-excerpt {
	margin-bottom: 3em;
	font-size    : .9rem;
	border-bottom: 1px dashed gray;
}

.reading-time {
	color: gray;

	small {
		color: dimgray;
	}
}

.post-metadata {
	p {
		margin: 0;
	}

	margin-bottom: 1em;
}

table thead {
	background: none;
}

.content-container {

	img,
	figure {
		display  : block;
		max-width: 100%;
		margin   : .5em auto;

		figcaption * {
			font-size  : .85rem;
			font-weight: normal;
			color      : gray;
			margin     : 0 1em;
		}
	}

	ul,
	ol {
		li {
			margin-bottom: .25em;

			ol,
			ul {
				margin: .25em 0;
			}
		}
	}
}

@media only screen and (min-width: 900px) {
	.content-container {
		display: block;
		padding: 0;

		max-width  : 38em;
		max-width  : 68ch;
		margin-left: calc(240px + 36px + 1em);
	}
}

.gfycat {
	margin   : auto;
	max-width: 100%;
}

// .highlight {
// 	border-radius: 8px;

// 	pre {
// 		padding-left : .25em;
// 		padding-right: .25em;
// 	}
// }

pre {
	overflow : auto;
	font-size: .95em;
	margin   : 0;

	code {
		font-size: 1em;
	}
}

p code {
	background   : #282a36;
	padding      : .3em;
	border-radius: 2px;
}

pre,
code {
	font-family: Consolas, monospace;
	line-height: 1.4;
}

.katex-display {
	overflow-x: auto;
	overflow-y: hidden;
}

details {
	padding: 0 .5em;
	border : solid 2px lightgrey;

	summary {
		background: lightgrey;
		margin    : -.5em -.5em .25em;
		padding   : .5em;
	}
}

.code-block {
	background: #fafafa;

	&>:not(.highlight) {
		border-radius: 8px 0 0 8px;
		box-shadow   : -2px 2px 4px rgba(0, 0, 0, .1);
		background   : white;
		margin       : 0 1.3em;
		margin-right : 0;
		padding      : .5em 1em;

		position: relative;
		z-index : 2;
	}

	pre {
		margin-top   : .75em;
		margin-bottom: -.5em;
	}

	.highlight:last-of-type pre {
		margin-bottom: 1em;
	}
}

.prev-link {
	margin-right: 1em;
}

.next-link {
	float      : right;
	margin-left: 1em;
}

.contact-info {
	font-size: 1.1em;
	color    : gray;

	a {
		font-size: inherit;
	}
}

footer.footer {
	height       : unset;
	margin-top   : 4em;
	margin-bottom: 1em;

	a {
		color: inherit;

		&:visited {
			color: inherit;
		}
	}

	.tech-info,
	.tech-info a {
		font-size  : .75rem;
		color      : scale-color($color: $linkColor, $lightness: -60%);
		line-height: 1.4;
	}

	p {
		margin: 0;
	}
}